<div class="uk-padding">



    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="200" height="200" src="{{data.image}}">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">الاسم : {{data.name}}</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">البريد الاكتروني : {{data.email}}</time></p>
                    <!-- <span class="uk-button uk-button-primary" type="button"><input type="file" (change)="upload($event)" eccept=".png,.jpg">Uploud</span> -->

                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>العمر : {{data.age}}</p>
            
            <p>العنوان : {{data.address}}</p>
            <p>المحافظه : {{data.province}}</p>
      
            
        </div>
        <div class="uk-card-footer">
            <!-- <a href="#" class="uk-button uk-button-text" uk-toggle="target: #modal-example">تعديل</a> -->
            <button type="button" class="btn btn-info" uk-toggle="target: #modal-example">تعديل</button>
      
          

           


            
<div id="modal-example" uk-modal>
<div class="uk-modal-dialog uk-modal-body">

    
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">التعديل</legend>
      
        <div class="uk-margin">
            <span class="uk-button uk-button-primary" type="button"><input type="file" (change)="upload($event)" eccept=".png,.jpg">اختر صورة</span>
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="اسمك" name="name" [(ngModel)]="data.name">
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="العمر" name="age" [(ngModel)]="data.age">
        </div>   
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="العنوان" name="address" [(ngModel)]="data.address">
        </div>  
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="المنطقة" name="province" [(ngModel)]="data.province">
        </div> 
          
    </fieldset>


    <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">تراجع</button>
        <button class="uk-button uk-button-primary" type="button" (click)="onEdit()">حفظ</button>
    </p>

</div>






        </div>  
        </div>
    </div>






</div>
