#div{
    padding: 10px 0;
    box-sizing: border-box;
    text-align: right;
}
/* .card{
    margin: 5px 0;
    background: #fff;
} */
img{
    height: 200px;
    width: 100%
}
.mar{
    margin-bottom: 10px ;
    /* box-shadow: 0 10px 30px rgba(0,0,0,.5); */
    
}