
<div class="uk-padding">
        <button class="uk-button uk-button-primary" *ngIf="admin" (click)="go()">اضافة خبر</button>
</div>

<div class="uk-padding" *ngFor="let item of itemArray">


    <div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="200" height="20" src="{{item.image}}">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom"><span style="background: #3498db;
                        padding: 5px; margin: 0 5px; color: #fff;border-radius: 5px;">
                            عنوان الخبر : 
                    </span>{{item.title}}</h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p><span>
                مصدر الخبر :  
            </span>
                
                {{item.source}}</p>
        
        </div>
        <div class="uk-card-footer">
            <a class="uk-button uk-button-text" (click)="moreInfo(item.$key)">عرض معلومات الخبر</a>
        </div>
      </div>
</div>





<!-- <div class="uk-padding">
  <table class="uk-table uk-table-striped" >
      <thead>
          <tr>
              <th style="text-align: right">المفتاح</th>
              <th style="text-align: right">العنوان</th>
              <th style="text-align: right">المصدر</th>
              <th style="text-align: right">الوصف</th>
              <th style="text-align: right">رابط</th>
            
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of itemArray">
              <td>{{item.$key}}</td>
              <td>{{item.title}}</td>
              
              <td>{{item.source}}</td>
              <td>{{item.describe}}</td>
              <td>{{item.image}}</td>              
        
              
          </tr>
      </tbody>
  </table>
  
</div> -->