<div class="uk-padding">
        <div class="container">
            <!-- <button class="uk-button uk-button-primary" *ngIf="admin" (click)="go()">اضافة خبر</button> -->
        <button type="button" class="btn btn-success" *ngIf="admin" (click)="go()">اضافة تواصل</button>
        </div>
</div>


<div id="div">
    <div class="container">
            <div class="box" *ngFor="let item of itemArray">
                    <div class="img">
                        <img src="{{item.image}}">
                    
                    </div>
                    <div class="detiels">
                        <div class="top">
                            <h3>{{item.title}}</h3>
                            <hr>
                           
                        </div>
                        <div class="bottom">
                                <p class="text-muted">{{item.describe}}</p>
                        </div>
                        
                    </div>
            </div>
    </div>
</div>
