
<!-- <div class="uk-padding" *ngFor="let item of itemArray">


    <div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="" width="100%" height="100%" src="{{item.image}}">
                </div>
            </div>
        </div>
        <div class="uk-card-body">
                <p>اسم الامنية : {{item.name}}</p>
                <br>
         </div>
        <div class="uk-card-body">
            <p>الوصف : {{item.describe}}</p>
        </div>

        <div class="uk-card-footer">
            <a class="uk-button uk-button-text" (click)="moreInfo(item.$key)">عرض معلومات الامنية</a>
        </div>

   

        <div class="uk-card-footer" >
                <a class="uk-button uk-button-text" (click)="moreInfo1(item.$key)"  >تحقيق الامنية</a>
        </div>
     
      </div>
</div> -->

<div id="div">

    <div class="container">
        <div class="row">
           <div class="card-deck">
            <div class="card col-lg-4" *ngFor="let item of itemArray" >
                <img class="card-img-top" src="{{item.image}}" alt="Card image cap" >
                <div class="card-body">
                  <h5 class="card-title"><p class="card-text">اسم الامنية : {{item.name}}</p></h5><hr>
                  <p class="card-text">الوصف : {{item.describe}}</p><hr>
                  <p class="card-text"><button type="button" class="btn btn-primary" (click)="moreInfo(item.$key)">عرض معلومات الامنية</button><button type="button" class="btn btn-success" (click)="moreInfo1(item.$key)">تحقيق الامنية</button></p>
                  <!-- <p class="card-text"></p> -->
                </div>
            </div>
           </div>
        </div>
    </div>

</div>
