<!-- <form class="uk-padding">
  <fieldset class="uk-fieldset">

      <legend class="uk-legend">التسجيل</legend>

 
      <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="الاسم الكامل" name="fullname" [(ngModel)]="fullname">
      </div> 

      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="البريد الاكتروني" name="email" [(ngModel)]="email">
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="كلمة السر" name="password" [(ngModel)]="password" >
      </div>
       
      <div class="uk-margin">
        <button class="uk-button uk-button-primary" (click)="myRegister()">التسجيل</button>
      </div>

  </fieldset>
</form> -->

<div id="div">
  <div class="container">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">الاسم الكامل</label>
            <input type="email" class="form-control" id="exampleInputFullname" aria-describedby="emailHelp" placeholder="الاسم الكامل" name="fullname" [(ngModel)]="fullname">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
      <div class="form-group">
        <label for="exampleInputEmail1">البريد الاكتروني</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="البريد الاكتروني" name="email"[(ngModel)]="email">
 
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">كلمة السر</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="كلمة السر" name="password" [(ngModel)]="password">
      </div>
    
      <button type="submit" class="btn btn-primary" (click)="myRegister()">التسجيل</button>
    </form>
  </div>
</div>


